Django
django-rest-framework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt

fastapi
uvicorn

pandas
tensorflow
scikit-learn
openpyxl

# ai
#langchain
#requests
#uuid
#transformers
#torch