<form action="{% url 'update' %}" method="PUT">
    {% csrf_token %}
    <button type="submit">Update</button>
</form>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% block content %}
  <ul>
    <li><strong>firstname:</strong> {{ firstname }}</li>
    <li><strong>surname:</strong> {{ surname }}</li>
    <li><strong>patronymic:</strong> {{ patronymic }}</li>
    <li><strong>phonenumber:</strong> {{ phonenumber }}</li>
    <li><strong>email:</strong> {{ email }}</li>
  </ul>
{% endblock %}